main{
    justify-content: center;
    align-items: center;
    align-content: center;
}
div form {
    background-color:  rgb(2, 2, 125);
    color: white;
    border-radius: 50px;
    font-size: 14px;
    margin-top: 0;
    padding: 40px 100px 40px 100px;
    margin: 20%;
    margin-left: 290px;


}
#nu {
    font-size: 25px;
    color: red;
    margin-left: -50px;
}
div form input{
    padding: 10px 5px;
    font-size: 15px;
    margin-left: -70px;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

div form #nono{
    margin: -40px;
    color: rgb(10, 22, 255);
    background-color: rgb(3, 254, 3);
    border: none;
    border-radius: 20px;
    font-size: 14px;
}
form #nono:hover{
    background-color: yellowgreen;
}
div form label{
    margin: 10px;

}