.coporal button{
    border: none;
    color: white;
    background-color: blue;
    border-radius: 15px;
    padding: 10px 5px 10px 5px;
    margin: 5px;

}
main {
    justify-content: center;
    align-items: center;
}
.coporal{
    margin: 100px;
    border-radius: 20px;
    background-color: rgb(3, 3, 146);
}