*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background: linear-gradient(90deg, #ffffff, #ffffff );
} 
header{
    display: flex;
    width: 100%;
    height: 50px;
    background-color: rgb(25, 25, 241);
    justify-content: space-between;
    padding: 7px;
    align-items: center;
}
#boy{
    width: 7%;
    height: 7%;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.cont{
    display: flex;
    justify-content: left;
    float: left;
    margin: 10px;
}
.cont h3{
    font-size: 15px;
    margin-top: 30px;
    font-family: cambria;
    justify-content: center;
    align-items: center;
    color: white;
}
.conter{
    display: flex;
    justify-content: space-between;
    float: right;
    margin-right: 20px;
}
header ul{
    display: flex;
    list-style: none;
    color: white;
}
header ul li a{
    margin: 10px;
    text-decoration: none;
    font-size: 10px;
    color: white;
    font-family: 'Poppins', sans-serif;
}
header ul li a:hover{
    color: rgb(255, 5, 5);
}
header ul li a:active{
    color: rgb(234, 0, 230);
}
header button{
    border: none;
    border-radius: 10px;
    color: rgb(8, 0, 254);
    background-color: rgb(5, 211, 5);
    padding: 10px;
    font-weight: 70px;
}
header button:hover{
    background-color: rgb(16, 236, 16);
}
main{
    display: flex;
}
.corporal{
    float: left;
    max-width: 45%;
    margin-left: 60px;
    margin-top: 80px;
}
.corporal h2{
    color: rgb(0, 4, 255);
    font-size: 15px;
    margin-left: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.corporal span{
    color: red;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.corporal p{
    font-size: 17px;
    width: 70%;
    color: black;
}
.corporal button{
    border: none;
    padding: 10px;
    background-color: rgb(2, 2, 215);
    color: white;
    border-radius: 20px;
    margin-top: 50px;
    font-size: 10px;
}
.corporal button:hover{
    background-color: rgb(57, 57, 255);
}

.corporal h1{
    margin-top: 20px;
    font-size: 40px;
    margin-bottom: 15px;
    font-weight: bold;
    color: black;
}
.corporal-right{
    float: right;
    width: 5px;
    height: 5px;
    margin-left: 200px;
    margin-top: 80px;
    
}
#mode{
    width: 300px;
    height: 400px;
    border-radius: 50%;
}
#node{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: 200px;
    margin-top: -400px;
}
footer {
    background-color: blue;
    color: #ffffff;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    justify-content: center;
    text-align: center;
    float: bottom;
    width: 100%;
    padding: 20px;
    margin-top: 80px;
    margin-bottom: 0;
}